header {
    background-color: black;
    color: #1DB954;
    padding: 5px 0;
    text-align: center;
}

body {
    font-family: 'Tahoma', sans-serif;
    background-color: black;
    color: #1DB954;
    margin: 0;
    padding: 0;
}

.ticker {
    background-color: black;
    color: #1DB954;
    border: 1px solid black;
    padding: 1rem;
    margin-top: 1rem;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 5px;
}

/* The overlay container */
.overlay {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 1000; /* Make sure it is above other content */
    justify-content: center;
    align-items: center;
    color: #1DB954;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

/* The flashing animation */
.overlay p {
    animation: flash 1s infinite;
}

/* Flash animation: Make the text appear and disappear */
@keyframes flash {
    0% { opacity: 1; }
    50% { opacity: 0.3; }
    100% { opacity: 1; }
}

.artistAlbums {
    display: none;
}

.artistSearchOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Make sure it sits on top of other content */
}

.artistSearchPopup {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    max-width: 400px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#artistSearchResultsList {
    list-style-type: none;
    padding: 0;
}

#artistSearchResultsList li {
    padding: 10px;
    cursor: pointer;
    margin: 5px 0;
    border: 1px solid #f1f1f1
}

#artistSearchResultsList li:hover {
    background-color: #f1f1f1;
}

.songContainer {
    display: flex;              /* Use flexbox to align children (image and text) horizontally */
    align-items: center;        /* Vertically centers the items */
    margin-bottom: 10px;         /* Adds space between each song item */
}

.playSong, .queueSong, .addSong {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #1DB954;
    color: white;
    border: none;
    outline: 1px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    width: auto; 
}

.playSong:hover, .queueSong:hover, .addSong:hover {
    background-color: white;
    color: #1DB954;
    border: 1px solid #1DB954;
}

.songsSearchOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Make sure it sits on top of other content */
}

.songsSearchPopup {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    max-width: 800px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#songsSearchResultsList {
    list-style-type: none;
    padding: 0;
}

#songsSearchResultsList li {
    padding: 10px;
    cursor: pointer;
    margin-left: 10px;
}

#songsSearchResultsList li:hover {
    background-color: #f1f1f1;
}

#artistName, #songName {
    width: 250px;      
    height: 20px;      
    margin-bottom: 10px;
}

.userDetails {
    text-align: center;
}

#sendSongBtn, #sendArtistBtn {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #1DB954;
    color: white;
    border: none;
    margin-bottom: 10px;
    outline: 1px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    width: auto;     
}

#sendSongBtn:hover, #sendArtistBtn:hover {
    background-color: darkgreen;
}

.searchSection {
    display: flex;              
    justify-content: center;    
    align-items: center;        
    gap: 20px;                  
}
  
.songSearch, .artistSearch {
    padding: 20px;
    border: 1px solid #ccc;    
    background-color: #f4f4f4; 
    display: flex;
    flex-direction: column;     
    justify-content: center;    
    align-items: center;        
    width: 300px;               
    height: 40px;
    border-radius: 15px;
}
  
h3 {
    margin-bottom: 5px;        /* Adds space below the heading */
}

.searchContainer {
    display: flex;              
    justify-content: center;    
    flex-direction: row;
    align-items: center;        
    gap: 10px;                  
  }

.artistSection {
    display: grid;
    grid-template-columns: 5fr 5fr 10fr;
    flex-direction: column;  
    gap: 20px; 
    
}

.artistHeading {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 3px;
}

.mergedHeading {  
    font-size: 1.8em; 
    margin-bottom: 10px;
}

#artist {
    display: none;
}

.artistColumns {
    display: grid;
    grid-template-columns: 5fr 5fr 10fr; /* Create three equal-width columns */
    gap: 20px; /* Space between the image and artist info */
    justify-items: center; /* Center content within columns */
    height:350px;
}

.artistImage {
    display: flex;
    flex-direction: column;
    text-align: center; 
    flex: 1;
    border: 1px solid #ddd;  
    padding: 10px;
    background-color: #f9f9f9;  
    border-radius: 8px; 
    justify-content: center; 
    align-items: center; 
    padding: 10px; 
    width: 100%;
    height: 350px; 
    margin-left: 15px;
    box-sizing: border-box;
}

.artistInfo {
    display: flex;
    flex-direction: column;
    text-align: left; 
    width: 100%;
    height: 350px;
    border: 1px solid #ddd;  
    padding: 10px;
    background-color: #f9f9f9; 
    color: black; 
    border-radius: 8px;  
    margin-right: 2px;
    box-sizing: border-box;
    flex: 2;
    justify-content: flex-start; 
}

#playlist {
    display: flex;
    flex-direction: column;
    gap: 0px;
    text-align: center; 
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;  
    padding: 10px;
    background-color: #f9f9f9;  
    color: black;
    border-radius: 8px;  
    margin-right: 15px;
    box-sizing: border-box;
    overflow-y: auto;
}

.clearPlaylistBtn {
    margin-left: 10px;
    margin-right: 15px;
    padding: 5px 10px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    display: flex; /* Use Flexbox to align items */
    justify-content: space-between; 
    align-items: center; /* Align items vertically */
    margin-bottom: 1px;
    outline: 1px;
    font-size: 16px;
    border-radius: 40px;
    width: auto;          
}

.clearPlaylistBtn:hover {
    background-color: darkred;
}

.createPlaylistBtn {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #1DB954;
    color: white;
    border: none;
    cursor: pointer; 
    display: flex; /* Use Flexbox to align items */
    justify-content: space-between; 
    align-items: center; /* Align items vertically */
    margin-bottom: 1px;
    outline: 1px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    width: auto;   
}

.createPlaylistBtn:hover {
    background-color: darkgreen;
}

#playlistName {
    width: 250px;      
    height: 20px;      
}

.artistCol1Heading {
    font-size: 2em;
    font-family: Impact, fantasy; 
    margin-top: 0; 
    margin-bottom: 5px; 
}

.artistCol3Heading {
    display: flex; /* Use Flexbox to align items */
    flex-grow: 1;
    justify-content: space-between; 
    align-items: center; /* Align items vertically */
    margin-right: 5px;
    margin-bottom: 1px; 
}

.artistDetails {
    display: flex;
    gap: 20px; /* Add some space between image and info */
}

.artistImage img {
    width: 300px; 
    height: 300px; 
    object-fit: cover; 
}

.playlist {
    display: flex;
    flex-direction: column;

}

.albums-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  /* 3 equal columns */
    gap: 20px;  
    padding: 20px;  
}

.album {
    border: 1px solid #ddd;  
    padding: 10px;
    text-align: center;
    background-color: #f9f9f9; 
    color: black;
    border-radius: 8px;  
}

.album img {
    width: 100%;  /* Make sure the images scale to the container */
    height: auto;
    max-width: 300px;  
}

.album h3 {
    font-size: 18px;  
    margin-bottom: 10px;
}

.album p {
    font-size: 14px;  
}

/* Remove the dots from the unordered list */
.album ul {
    list-style-type: none; /* Remove default bullets */
    padding: 0;
}

.album ul li {
    display: flex; /* Use Flexbox to align items */
    justify-content: flex-end; /* Push the track name to the left and button to the right */
    align-items: center; /* Align items vertically */
    margin-bottom: 10px; /* Add some space between tracks */
}

.trackPlayBtn, .trackQueueBtn, .plAddButton {
    margin-left: 10px; /* Add some space between the track name and the button */
    padding: 5px 10px;
    background-color: #1DB954; /* Green background */
    color: white; /* White text */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
}

.plAddButton:hover, .trackQueueBtn:hover, .trackPlayBtn:hover {
    background-color: #45a049; /* Darker green when hovered */
}

.plTrackName {
    margin-top: 0;
    margin-bottom: 0;
}

.plTrack {
    display: flex;
    justify-content: space-between;
    align-items: center;  /* Vertically center the items */
}

.plTracks {
    margin-top: 1px;
    margin-bottom: 1px;
}

.deleteBtn {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    outline: 1px;
    font-size: 16px;
    border-radius: 40px;
}

.deleteBtn:hover {
    background-color: darkred;
}
