<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotipy Playlists</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <header>
        <h1>Spotify Playlist Creator</h1>
    </header>
    <section>
        <div class="ticker">
            <marquee behavior="scroll" direction="left">
                <span id="currentlyPlaying">You are currently playing <b>{{ playingTrack }}</b> by <b>{{ playingArtist }}</b> on a <b>{{ deviceType }}</b> called <b>{{ deviceName }}</b></span>
            </marquee>
        </div>
        <div class="userDetails">
            <h2>Creating Playlists for {{ displayName }} who has {{ followers }} followers.</h2>
        </div>
    </section>
    <section>
        <div class="artistSearch">
            <h3>Search for an Artist</h3>
            <input type="text" id="artistName" name="artistName" placeholder="Enter Artist's Name here">
            <button type="button" id="sendArtist" onclick="sendArtist()">GO</button>
        </div>
    </section>
    <section>
        <div id="artist"> 
            <div class="artistSection">
                <div class="artistHeading">
                    <h3 class="artistCol1Heading"></h3>
                </div>
                <div class="artistHeading">
                    <h3 class="artistCol2Heading"> </h3>
                </div>
                <div class="artistHeading">
                    <h3 class="artistCol3Heading">Playlist Builder</h3>
                    <input type="text" id="playlistName" name="playlistName" placeholder="Enter Your New Playlist Name Here:">
                    <button type="button" onclick="createPL()" class="createPlaylistBtn">Create Playlist</button>
                    <button typw="button" onclick="clearPL()" class="clearPlaylistBtn">Clear</button>
                </div>
            </div>
            <div class="artistColumns">
                <div class="artistImage">
                </div>
                <div class="artistInfo">
                </div>
                <div id="playlist">
                </div>
            </div>              
        </div>
        <div id="artistAlbums">
        </div>
    </section>


    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>