<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotipy Playlists</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <h1>Spotify Playlist Creator</h1>
    <section>
        <h2>Creating Playlists for {{ displayName }} </h2>
        {{ displayName }} has {{ followers }} followers.
        <p id="currentlyPlaying">You are currently playing <b>{{ playingTrack }}</b> by <b>{{ playingArtist }}</b></p>
    </section>
    <section>
        <h3>Search for an Artist</h3>
        <input type="text" id="artistName" name="artistName" placeholder="Enter Artist's Name here">
        <button type="button" onclick="sendArtist()">GO</button>
    </section>
    <section>
        <div id="artistDetails">           
        </div>
        <div id="artistAlbums">
        </div>
    </section>


    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>