<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top DJ Playlists</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <header>
        <h1>Top DJ Playlists</h1>
    </header>
    <section>
        <div class="ticker">
            <marquee behavior="scroll" direction="left">
                <span id="currentlyPlaying">You are currently playing <b>{{ playingTrack }}</b> by <b>{{ playingArtist }}</b> on a <b>{{ deviceType }}</b> called <b>{{ deviceName }}</b></span>
            </marquee>
        </div>
        <div class="userDetails">
            <h2>Creating Playlists for {{ displayName }} who has {{ followers }} followers.</h2>
        </div>
    </section>
    <section class="searchSection">
        <div class="songSearch">
            <h3>Search for a Song Title</h3>
            <div class="searchContainer">
                <input type="text" id="songName" name="songName" placeholder="Enter a Song Title here">
                <button type="button" id="sendSongBtn" onclick="sendSong()">GO</button>
            </div>
        </div>
        <div class="artistSearch">
            <h3>Search for an Artist</h3>
            <div class="searchContainer">
                <input type="text" id="artistName" name="artistName" placeholder="Enter Artist's Name here">
                <button type="button" id="sendArtistBtn" onclick="sendArtist()">GO</button>
            </div>
        </div>
    </section>
    <section>
        <div id="searchingOverlay" class="overlay">
            <div class="overlayContent">
                <p>Searching...</p>
            </div>
        </div>
        <div id="artistSearchOverlay" class="artistSearchOverlay" style="display:none;">
            <div class="artistSearchPopup">
                <h3>Select an Artist</h3>
                <ul id="artistSearchResultsList">
                    <!-- Results will be inserted here -->
                </ul>
                <button onclick="closeArtistSearchOverlay()">Close</button>
            </div>
        </div>        
    </section>
    <section>
        <div id="songsSearchOverlay" class="songsSearchOverlay" style="display:none;">
            <div class="songsSearchPopup">
                <h3>Select a Song</h3>
                <ul id="songsSearchResultsList">
                    <!-- Results will be inserted here -->
                </ul>
                <button onclick="closeSongsSearchOverlay()">Close</button>
            </div>
        </div>        
    </section>
    <section>
        <div id="artist"> 
            <div class="artistSection">
                <!-- Container for Col1Heading, Col2Heading, ArtistImage, and ArtistInfo -->
                <div class="artistTopContainer">
                    <div class="artistHeading">
                        <h3 class="artistCol1Heading"></h3>
                    </div>
                    <!-- <div class="artistHeading">
                        <h3 class="artistCol2Heading"> </h3>
                    </div> -->
                    <div class="artistColumns">
                        <div class="artistImage">
                            <!-- Artist Image content here -->
                        </div>
                        <div class="artistInfo">
                            <!-- Artist Info content here -->
                        </div>
                    </div>
                </div>
            
                <!-- Container for Col3Heading and Playlist -->
                <div class="artistBottomContainer">
                    <div class="artistHeading">
                        <h3 class="artistCol3Heading">Playlist Builder</h3>
                        <button type="button" onclick="createPlaylist()" class="createPlaylistBtn">Create Playlist</button>
                        <button type="button" onclick="clearPL()" class="clearPlaylistBtn">Clear</button>
                    </div>
                    <div id="playlist">
                        <!-- Playlist content here -->
                    </div>
                </div>
            </div>
                          
        </div>
        <div id="artistAlbums">
        </div>
    </section>
    <footer class="footer">
        <img class=spotifyLogo src="{{ url_for('static', filename='images/Spotify_Full_Logo_Green.jpg') }}" alt="Spotify Logo">
    </footer>


    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>